@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app {
    background: #000;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

#wrapper {
    text-align: center;
}

.sub {
    color: #ff4a54;
    letter-spacing: 1em;
}

.glitch {
    position: relative;
    color: #fff;
    font-size: 4em;
    letter-spacing: 0.5em;
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -2px 0 #ff00c1, 2px 2px #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0%, 100% {
        clip: rect(0, 9999px, 0, 0);
        transform: skew(0deg);
    }
    10%, 30%, 50%, 70% {
        clip: rect(0, 9999px, 100px, 0);
        transform: skew(5deg);
    }
    20%, 40%, 60%, 80% {
        clip: rect(0, 9999px, 100px, 0);
        transform: skew(-5deg);
    }
}

@keyframes glitch-anim2 {
    0%, 100% {
        clip: rect(0, 9999px, 0, 0);
        transform: skew(0deg);
    }
    10%, 30%, 50%, 70% {
        clip: rect(100px, 9999px, 200px, 0);
        transform: skew(-5deg);
    }
    20%, 40%, 60%, 80% {
        clip: rect(100px, 9999px, 200px, 0);
        transform: skew(5deg);
    }
}

@keyframes glitch-skew {
    0%, 100% {
        transform: skew(0deg);
    }
    10%, 30%, 50%, 70% {
        transform: skew(5deg);
    }
    20%, 40%, 60%, 80% {
        transform: skew(-5deg);
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

#errorPopup {
    position: fixed;
    padding: 20px;
    border: 2px solid #39ff14;
    background-color: #111;
    z-index: 20;
    text-align: center;
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14;
}

#passwordInput, #submitPassword {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #39ff14;
    background-color: #000;
    color: #39ff14;
    box-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14;
}

#submitPassword:hover {
    background-color: #39ff14;
    color: #000;
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
}

#instructionsButton {
    padding: 15px 30px;
    font-size: 32px;
    border: none;
    cursor: pointer;
    border-radius: 12px; /* Rounded corners for consistency */
    background: linear-gradient(45deg, #0ff0fc, #1f51ff, #350b99, #02ae23, #39ff14);
    color: #000; /* Black text */
    text-shadow: 0 0 5px #fff; /* White text glow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
    margin-bottom: 50px;
}

#instructionsButton:hover {
    transform: scale(1.2); /* Enlarges the button on hover */
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; 
}

.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.neonButton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Initial glow effect */
    box-shadow: 0 0 5px currentColor, 0 0 10px currentColor;
}

.neonButton:hover {
    transform: scale(1.1);
    /* More intense glow on hover */
    box-shadow: 0 0 15px currentColor, 0 0 25px currentColor, 0 0 35px currentColor, 0 0 45px currentColor, 0 0 55px currentColor;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
}

.popup.display-flex {
    display: flex;
}

.popupContent {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    max-height: 80vh; /* Adjust the maximum height to fit within the viewport */
    overflow: auto;
    background: #000; /* Black background */
    opacity: 0.6; 
    box-shadow: 0 0 10px #0ff0fc, 0 0 15px #1f51ff, 0 0 20px #350b99, 0 0 25px #02ae23, 0 0 30px #39ff14; /* Glowing border */
}

.closeButton {
    color: #ccc;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    position: relative;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px #0ff0fc, 0 0 15px #0ff0fc;
    width: 100%; /* Adjust based on your preference */
    margin: auto; /* Center the grid container */
}

.gridContainer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 33.33%; /* Position for the middle horizontal line */
    border-top: 2px solid #0ff0fc; /* Button 1 color */
    z-index: 1;
}

.gridContainer::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 66.66%; /* Position for the bottom horizontal line */
    border-top: 2px solid #0ff0fc; /* Button 1 color */
    z-index: 1;
}

.gridContainer img {
    width: 100%; /* Make images take full width of the grid cell */
    height: auto; /* Adjust height automatically to maintain aspect ratio */
    object-fit: cover; /* Cover the grid cell area without breaking the aspect ratio */
    display: block; /* Remove any inline element spacing */
}

.gridContainer img:hover {
    transform: scale(1.3); /* Slightly enlarge images on hover */
    z-index: 2; /* Ensure the image is above the grid lines */
}

/* Style for the hover message */
.hoverMessage {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    z-index: 40;
    font-size: 20px;
    color: #000;
    box-shadow: 0 0 5px #fff;
}

.closePopupButton {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}

.closePopupButton:hover {
    color: #0ff0fc; /* Adjust hover color to match your theme */
}

#buttonTwoPopup .popupContent {
    background-color: #fff; /* Whiteboard background */
    color: #000; /* Black text color for contrast */
    border-radius: 10px;
    padding: 20px;
    position: relative; /* For positioning the close button */
}

#buttonTwoPopup .gridContainer.whiteboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-gap: 10px;
    padding: 20px;
    display: none;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px #1f51ff, 0 0 20px #1f51ff, 0 0 30px #1f51ff; /* Glowing effect */
    margin: auto;
}

#buttonTwoPopup .gridContainer.whiteboard img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.passwordProtection {
    text-align: center; /* Center the password input and submit button */
}

.closePopupButton {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
