@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app {
    background: #000;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

#wrapper {
    text-align: center;
}

.sub {
    color: #ff4a54;
    letter-spacing: 1em;
}

.glitch {
    position: relative;
    color: #fff;
    font-size: 4em;
    letter-spacing: 0.5em;
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -2px 0 #ff00c1, 2px 2px #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0%, 100% {
        clip: rect(0, 9999px, 0, 0);
        transform: skew(0deg);
    }
    10%, 30%, 50%, 70% {
        clip: rect(0, 9999px, 100px, 0);
        transform: skew(5deg);
    }
    20%, 40%, 60%, 80% {
        clip: rect(0, 9999px, 100px, 0);
        transform: skew(-5deg);
    }
}

@keyframes glitch-anim2 {
    0%, 100% {
        clip: rect(0, 9999px, 0, 0);
        transform: skew(0deg);
    }
    10%, 30%, 50%, 70% {
        clip: rect(100px, 9999px, 200px, 0);
        transform: skew(-5deg);
    }
    20%, 40%, 60%, 80% {
        clip: rect(100px, 9999px, 200px, 0);
        transform: skew(5deg);
    }
}

@keyframes glitch-skew {
    0%, 100% {
        transform: skew(0deg);
    }
    10%, 30%, 50%, 70% {
        transform: skew(5deg);
    }
    20%, 40%, 60%, 80% {
        transform: skew(-5deg);
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

#errorPopup {
    position: fixed;
    padding: 20px;
    border: 2px solid #39ff14;
    background-color: #111;
    z-index: 20;
    text-align: center;
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14;
}

#passwordInput, #submitPassword {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #39ff14;
    background-color: #000;
    color: #39ff14;
    box-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14;
}

#submitPassword:hover {
    background-color: #39ff14;
    color: #000;
    box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
}

#instructionsButton {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 12px; /* Rounded corners for consistency */
    background: linear-gradient(45deg, #0ff0fc, #1f51ff, #350b99, #02ae23, #39ff14);
    background-size: 300% 300%;
    animation: GradientAnimation 3s ease infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Using background-clip and a transparent color for the text to show the background */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* Initial glow effect */
    text-shadow: 0 0 5px #0ff0fc, 0 0 10px #1f51ff, 0 0 15px #350b99, 0 0 20px #02ae23, 0 0 25px #39ff14;
}

#instructionsButton:hover {
    transform: scale(1.05); /* Slight enlargement on hover */
    /* More intense glow on hover */
    text-shadow: 0 0 10px #0ff0fc, 0 0 20px #1f51ff, 0 0 30px #350b99, 0 0 40px #02ae23, 0 0 50px #39ff14;
}

@keyframes GradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.buttonsContainer {
    display: flex;
    gap: 20px;
}

.neonButton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Initial glow effect */
    box-shadow: 0 0 5px currentColor, 0 0 10px currentColor;
}

.neonButton:hover {
    transform: scale(1.1);
    /* More intense glow on hover */
    box-shadow: 0 0 15px currentColor, 0 0 25px currentColor, 0 0 35px currentColor, 0 0 45px currentColor, 0 0 55px currentColor;
}
